@font-face {
  font-family: 'RPGAwesome';
  src: url('./rpgawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.ra {
  font-family: RPGAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.ra-crossed-swords:before  { content: "\E97D"; }
.ra-axe-swing:before       { content: "\E916"; }
.ra-daggers:before         { content: "\E989"; }
.ra-gear-hammer:before     { content: "\E9DB"; }
.ra-crystal-wand:before    { content: "\E984"; }
.ra-ankh:before            { content: "\E908"; }
.ra-eye-monster:before     { content: "\E9B3"; }
.ra-quill-ink:before       { content: "\EA75"; }
.ra-lightning:before       { content: "\EA31"; }
.ra-bolt-shield:before     { content: "\E935"; }
.ra-leaf:before            { content: "\EA21"; }
.ra-broadhead-arrow:before { content: "\E945"; }
.ra-fluffy-swirl:before    { content: "\E9CF"; }
